<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>SignUp</h1>
                    <h6>Register Yourself !!</h6>
                </div>
                <form>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1">Full Name</label>
                        <input type="text" class="form-control mt-3" id="exampleInputname" aria-describedby="namehelp" placeholder="Enter your full name">
                        
                      </div>
                      <div class="form-group mb-3">
                        <label for="exampleInputEmail1">Mobile Number</label>
                        <input type="text" class="form-control mt-3" id="exampleInputnumber" aria-describedby="mobileHelp" placeholder="Enter mobile nuber">
                        
                      </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control mt-3" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                      
                    </div>
                    <div class="form-group mb-3">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control mt-3" id="exampleInputPassword1" placeholder="Password">
                    </div>
                  
                    <button type="submit" class="btn btn-primary">SignUp</button>
                  </form>
            </div>
        </div>
    </div>
</div>